{% extends "base.html" %}

{% block titulo %} equipos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
    <a name="" id="" class="btn btn-success" href= "{% url 'crear_equipo' %}" role="button"> Agregar equipo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"> Equipos</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    

                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Miembros</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Atlanta</td>
                        <td>10</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'editar_equipo' %}" role="button">Editar</a> 
                            <a> <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        


    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}