{% extends 'base/base.html' %}

{% block title %}Index View{% endblock title %}

{% block content %}
Copy code
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estiloscolecciones.css">
    
    <script src="menu.js"></script>
    <title>TheStar</title>
</head>
<body>
    <header>
        <div class="menu-izquierdo">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="logo-container">
            <img src="imagenes/LogoST.png" alt="" class="logo">
        </div>
        <div class="menu-derecho">
            <ul>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Cuenta</a></li>
            </ul>
        </div>
    </header>

    <section class="bienvenida">
        
      <div class="fondo-bienvenida"></div>
      <a href="houseofcards.html">
      <img src="imagenes/houseOfCards.png" alt="" class="tituloblanco">
      </a>
       <img src="imagenes/" alt="" class="texto-bienvenida">
    </section>

    <section class="menu-deslizable">
        <img src="imagenes/Ethereal.png" alt="" class="titulo-menu">
    <div class="slider">
        <div class="slide">
            <img src="imagenes/Etherial1.jpeg" alt="">
        </div>
        <div class "slide">
            <img src="imagenes/Etherial2.jpeg" alt="">
            
        </div>
        <div class="slide">
            <img src="imagenes/Etherial3.png" alt="">
        </div>
        <div class="slide">
            <img src="imagenes/Ethereal4.jpeg" alt="">
        </div>
    </div>
    <button id="prev">Anterior</button>
    <button id="next">Siguiente</button>

    </section>

    <section class="seccion-rectangular">
        <div class="imagen-izquierda">
            <img src="imagenes/imgyouself.jpeg" alt="">
        </div>
        <div class="contenido-derecha">
            <div class="imagen-superior-derecha">
                <img src="imagenes/yourselft.png" alt="">
                <p id="p-yourselft">Set de 11 piezas de la colección maquillaje de Magic Glam. Incluye...</p>
            </div>
           
        </div>
    </section>

    <footer>
        <div class="footer-barra-negra">
            <img src="imagenes/imagenfooter.png" alt="">
        </div>
    </footer>

</body>
</html>
{% endblock content %}