{% extends "base/base.html" %}

{% block title %}
  Contact View 
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estiloshouseofcards.css">
    <title>House of Cards</title>
</head>
<body>
    <header>
        <div class="menu-izquierdo">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="logo-container">
            <img src="imagenes/LogoST.png" alt="" class="logo">
        </div>
        <div class="menu-derecho">
            <ul>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Cuenta</a></li>
            </ul>
        </div>
    </header>

    
    <section class="seccion-rectangular">
        <div class="imagen-izquierda">
            <img src="imagenes/coreanosCards.jpeg" alt="">
        </div>
        <div class="contenido-derecha">
            <div class="imagen-superior-derecha">
                <img src="imagenes/houseOfCardsColecciones.png" alt="">
                <p id="p-presentacion">House of cards es una coleccion inspirada en los reyes y reinas de la baraja inglesa.
                    Principalmente por el Rey de Picas y la Reina de Corazones ya que apesar de que estas figuras son energias aparentemente opuestas ambas representan el poder, la fuerza, la belleza, el carisma, la inteligencia entre muchas cosas mas, ambos se diferencian principalmente por su toma de desiciones uno mas docil que el otro al rey por lo general se le ve como una persona logica dispuesto a sacrificar por su pueblo, dependiendo el punto de vista puedes catalogarlo como el bueno o el malo sin embargo sigue siendo un rey lo que hace que tenga las cualidades de uno, no es ni bueno ni malo igual que la reina no porque sea una mujer que piensa con el corazon quiere decir que va a dejar que hagan con ella lo que quieran pues sigue siendo una reina y vela por el bien de su pueblo, al final ambos tienen las mismas caracteristicas buenas que se supone deberia tener la realeza.</p>
                       
                </div>
                <img src="imagenes/textodecoracionhouse.png" alt="">
           
        </div>
    </section>

     <section class="seccion-de-productos">
  

     </section>

    <footer>
        <div class="footer-barra-negra">
            <img src="imagenes/imagenfooter.png" alt="">
        </div>
</body>
</html>


{% endblock content %}